@import "base.css";
@import "common.css";
/*顶部*/
#top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2% 3%;
}
#top img{width: 8%;}
#top img:first-child{width: 20%;}
/*banner部分*/
#banner .swiper-pagination {
  position: absolute;
  z-index: 20;
  bottom: 5%;
  text-align: center;
}
#banner .swiper-pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 3px;
  border-radius: 2px;
  background: rgba(1, 1, 1, 0.1);
  margin: 0 3px;
  opacity: 0.9;
  border: 1px solid #fff;
  cursor: pointer;
}
#banner .swiper-wrapper .swiper-slide a{
    display: block;
}
#banner .swiper-pagination-bullet-active {
  background: orangered;
  border: 1px solid #fff;
}
/*登录注册开奖*/
#index-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 8px solid #eee;
    box-sizing: border-box;    
    padding-top: 1%;
}
#index-menu a{width: 33.33%;}
#index-menu a:nth-last-of-type(2){
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
#index-menu a img{
    display: block;
    margin: 0 auto;
    width: 25%;
}
#index-menu a p{
    text-align: center;
    line-height: 6vw;
}
/*双色球、大乐透*/
#cp-menu{
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2% 0;
}
#cp-menu a{
    width: 50%;
    display: flex;
    align-items: center;
}
#cp-menu a:first-child{
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
#cp-menu a span{
    width: 110px;
    height: 60px;
    background-size: 60px;
    margin: 0 6%;
}
#cp-menu a div p:first-child{
    font-size: 4vw;
    line-height: 8vw;
}
#cp-menu a div p{
    color: #888;
}
/*各自的*/
.sprite-ssq{
    background: url('../images/159caipiao.png') no-repeat;
    background-position: 0 -185px;
}
.sprite-dlt{
    background: url('../images/159caipiao.png') no-repeat;
    background-position: 0 -246px;
}
#cp-menu a:first-child div p:first-child{
    color: red;
}
#cp-menu a:nth-child(2) div p:first-child{
    color: #0089d0;
}
/*双色球、大乐透结束*/
/*随机彩种选号*/
#index-xuanhao{
    padding: 2%;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;
}
#index-xuanhao .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#index-xuanhao .top p:first-of-type{
    width: 50%;
    font-size: 4vw;
    font-weight: 700;
}
#index-xuanhao .top p:first-of-type span{
    font-size: 3vw;
    font-weight: 400;
    color: red;
    margin-left: 2%;
}
#index-xuanhao .top p:last-of-type{
    width: 50%;
    font-size: 3vw;
    color: #888;
    text-align: right;
}
#index-xuanhao .top p:last-of-type img{
    width: 9%;
    margin-bottom: -2%;
}
#index-xuanhao .bottom{
    display: flex;
    align-items: center;
    margin-top: 3%;
}
#index-xuanhao .bottom .number-list{
    width: 84%
}
#index-xuanhao .bottom .number-list li{
    display: inline-block; 
    width: 26px;
    height: 26px;
    background: orangered;
    text-align: center;
    line-height: 26px;
    border-radius: 100%;
    color: white;
    font-size: 14px;
}
#index-xuanhao .bottom .number-list li:last-of-type{
    background-color: #64a6ea;
}
#index-xuanhao .bottom a{
    width: 16%;
    text-align: center;
    background: orangered;
    line-height: 7vw;
    color: white;
    border-radius: 3px;
}
.bg-color{
    height: 8px;
    background: #eee;
    border-bottom: 1px solid #e3e3e3;
}
/*cp列表*/
/*公共*/
#cp-list a{
    display: flex;
    align-items: center;
    padding: 2% 3%;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3; 
}
#cp-list a span:first-of-type{
    width: 60px;
    height: 60px;
    background: url('../images/159caipiao.png') no-repeat;
    background-size: 60px;
}
#cp-list a div{
    width: 72%;
    margin-left: 2%;
}
#cp-list a div h3{
    font-size: 4vw;
    line-height: 8vw;
}
#cp-list a div h3 .new-span{
    background: orangered;
    border-radius: 3px;
    color: white;
    font-size: 3vw;
    text-align: center;
    padding: 1px 2px;
    margin-left: 1%;
}
#cp-list a div cite{
    color: #888;
    font-size: 3vw;
    margin-left: 1px;
}
#cp-list a span:last-of-type{
    width: 8%;
    text-align: right;
    font-size: 6vw;
    color: #888;
}
/*各自彩种sprite图定位*/
#cp-list .all-11x5 .sprite-11x5{
    background-position: 0 -426px;
}
#cp-list .xxk3 .sprite-xxk3{
    background-position: 0 -913px;
}
#cp-list .xk3 .sprite-xk3{
    background-position: 0 -975px;
}
#cp-list .ssc .sprite-ssc{
    background-position: 0 -728px;
}
#cp-list .jczq .sprite-jczq{
    background-position: 0 0;
}
/*最新资讯*/
#news .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 2%;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;
}
#news .title h3{
    font-size: 4vw;
    font-weight: 700;
}
#news .title a{
    font-size: 4vw;
    color: #888;
}
#news>a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 2%;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;
}
#news>a p{
    width: 90%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap; 
    font-size: 3.5vw;
    color: #888;
}
#news>a p cite{
    margin-left: 2%;
    color: rgb(70, 70, 70);
}
#news>a i{
    width: 10%;
    text-align: center;
    color: #888;
}
footer{
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
}
footer p{
    color: #888;
    font-size: 2vw;
    line-height: 3vw;
}